bower_components/
node_modules/
doc/
pub/

# generated binary image
**.png
**.jpg

# generated 3D models
**.json
**.blend1

# editor temporary files
**.swp
**.swo
**~

# symbol table files
**tags
**.log

