@dbg-color:rgba(255,0,0, .05);
@dropdown-background-color: #ffe;

/* debug */
div, ul, li, p, a, form{
    background: @dbg-color;
}

body { 
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0px;
}

.panel-body {
    margin: 0;
    padding: 0;
    >div {
        height: 100%;
        overflow: auto;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.panel{
    padding: .1em;
    vertical-align: top;
    .panel-heading {
        background-color: #bbe;
    }
    .panel-body{
        min-width: 5px;
    }
}

.panel.hidden {
    display: none;
}

.bm-tree, .bm-list {
    ul {
        padding-left: 1em;
        list-style: none;
        li {
            list-style: none;
        }
    }
}

