@dbg-color:rgba(255,0,0, .05);
@dropdown-background-color: #ffe;

@tree-width:20%;

/* debug */
div, ul, li, p, a, form{
    background: @dbg-color;
}

form, div {
    margin: 0;
}

html,
body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    .flex-v;
}

#header {
    padding: 4px;
    box-sizing: border-box;
    width: 100%;
    * {
        display: inline;
    }
    #search-form {
        float: right;
    }
}

.flex-h {
    display: flex;
    flex-flow: row nowrap;
}
.flex-v {
    display: flex;
    flex-flow: column nowrap;
}

#main {
    .flex-h;
    flex: 1 1 100%;
    .tree{ flex: 2 2 @tree-width; }
    .lists{ flex: 1 1 100% - @tree-width; }
}

.container {
/* width: 5%; */

    display: flex;
    flex-flow: column nowrap;
}

.panel{
    flex: 1 1 auto;

    display: flex;
    flex-flow: column nowrap;
    padding: .1em;
    .panel-heading {
        flex: 0 0 auto;
        background-color: #bbe;
        form { margin: 0; padding: 0 .5em; }
    }
    .panel-body{
        flex: 1 0 auto;
        overflow: scroll;
        min-height: 5em;
        height: 1%;    // hack for flex auto expand height
    }
}

#bookmarks-tree {
    ul {
        margin: 0;
        padding-left: 1em;
        list-style: none;
        li {
            list-style: none;
        }
    }
}

.sub {
    display: none;
}
