@dbg-color:rgba(255,0,0, .05);
@navbar-height: 1em;
@border-color: #00f;
@dropdown-background-color: #ffe;

/* debug */
div, ul, li, p, a, form{
    background: @dbg-color;
}

body { 
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0px;
}

.container {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.navbar {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    div, ul, form, ul li {
        display: inline-block;
        margin: 0;
    }
    ul {
        list-style-type: none;
        .dropdown-menu {
            display: none;
            position: absolute;
            padding: 0;
            background-color: @dropdown-background-color;
        }

        li.dropdown:hover {
            .dropdown-menu, li{
                display: block;
            }
        }
    }
}

#panels-container {
    .hidden {
        display: none;
    }
    >.panel, >.container{
        vertical-align: top;
        max-height: 90%;//TODO
        overflow: scroll;
        .panel-body{
            min-width: 5px;
            //overflow: visible;
        }
    }
}
.bm-tree, .bm-list {
    ul {
        padding-left: 1em;
        list-style: none;
        li {
            list-style: none;
        }
    }
}
