html(lang="en")
    head
        title Shiori
        meta(charset="utf-8")
        link(href="bookmarks.css", rel="stylesheet")
    body
        div#header
            h2#app-name a Three.js test
            form#url-form
                input#check-history(type="checkbox" checked)
                span history marks
                input#check-bookmarks(type="checkbox" checked)
                span bookmark marks
                input#search-text(type="text",placeholder="URL", autofocus)

        div#main
            canvas#3jscanvas(draggable)

        script(src="/js/lib/three.js")
        script(src="/js/lib/require.js", data-main="bookmarks")

