@dbg-color: rgba(255,0,0, .05);
@dropdown-background-color: #ffe;

div, ul, li, p, a, form, h1, h2, h3, form {
    background: @dbg-color; // debug
}

div {
    margin: 0;
}


html, body, canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}

#labelcontainer, #labelroot {
    position: absolute;
    top: 0;
    left: 0;

    height: 0;
    width: 0;
}

#HUD {
    position: absolute;
    right: 0;
    top: 0;
}


.label {
    color: white;
    position: absolute;
    .notvisible {
        display: none;
    }
}


