html(lang="en")
    head
        title Shiori
        meta(charset="utf-8")
        link(href="bookmarks.css", rel="stylesheet")
    body
        div#labelcontainer
            div#labelroot
        canvas#3jscanvas(draggable)
        div.hud#HUD

        script(src="/js/lib/three.js")
        script(src="/js/lib/dat.gui.js")
        script(src="/js/config.js")
        script(src="/js/lib/require.js", data-main="/src/override/bookmarks.js")

