html(lang="en")
    head
        title 栞
        meta(charset="utf-8")
        link(href="css/arranger.css", rel="stylesheet")
    body
        div#panels.flex-row
            div#panel-bm-tree.panel
                div.panel-heading Bookmark folders
                div.panel-body
                    div.bm-tree#bookmarks-tree

            div#lists.flex-column
                div#panel-search-results.panel
                    div.panel-heading.flex-row
                        form#search-form
                            div.form-group
                                input#search-text.form-control(type="text",placeholder="Keyword", autofocus)
                                button#search-button Search
                    div.panel-body
                        div.bm-list#search-results

                div#panel-bm-list.panel
                    div.panel-heading Bookmarks
                    div.panel-body
                        div.bm-list#bookmarks-list

        script(src="js/util.js")
        script(src="js/arranger.js")

