html(lang="en")
    head
        title 栞
        meta(charset="utf-8")
        link(href="css/arranger.css", rel="stylesheet")
    body
        div#header
            h2#app-name Shiori, is a bookmark arranger
            form#search-form
                input#search-text(type="text",placeholder="Search Keyword", autofocus)
        div#main
            div.panel.col#col1
                div.panel-heading Folders
                div.panel-body#bm-tree1

            div.container.col#col2
                div.panel
                    div.panel-heading List
                    div.panel-body#bm-list1
                div.panel.sub
                    div.panel-heading List 2
                    div.panel-body#bm-list2

            div.panel.sub.col#col3
                div.panel-heading Folders 2
                div.panel-body#bm-tree2

        script(src="js/util.js")
        script(src="js/shiori.js")
        script(src="js/bmm.js")
        script(src="js/arranger.js")

