html(lang="en")
    head
        title 栞
        meta(charset="utf-8")
        link(href="css/arranger.css", rel="stylesheet")
    body
        div.container#left
            form#search-form
                div.form-group
                    input#search-text(type="text",placeholder="Keyword", autofocus)
                    button#search-button Search
            div#panel-bm-tree.panel
                div.panel-heading Bookmark Tree
                div.panel-body#bookmarks-tree

        div.container#middle
            div#panel-search-results.panel
                div.panel-heading Search
                div.panel-body#search-results
            div#panel-bm-list.panel
                div.panel-heading Bookmarks
                div.panel-body#bookmarks-list

        div.container#right
            div#panel-bm-list.panel
                div.panel-heading Bookmark Tree
                div.panel-body#bookmarks-tree2


        script(src="js/util.js")
        script(src="js/arranger.js")

